<div id="sectCustom">
	<div class="sectCustomTitle">Nombre de Arma:</div>
   <div class="armaName" align="center">
		{WNOMBRE}
 </div>
 	<form action="" method="post">
    <br />
    <div class="{SHOWNTIME} armaName"  align="center">Espera {NWTIME} para intentar de nuevo.</div>
    <div align="center" class="{SHOWNIMPUT}">
    <input class="armaNameBox" name="nombre" size="15" type="text" />
    <br />
     <div align="center">
      <div class="customBoxFFS">
   <input name="" value="Probar Nombre" type="submit" />
   <br>
    <a href="index.php?sec=Wname">Ayuda Nombre Posibles</a>
    </div></div>
    </div>
    </form>
  </div>


