<script>
$(document).ready(function(){	
 <!-- BEGIN ASADOSCRIPTS -->
 	fkingCountDown('mundoTimer{ASADOSCRIPTS.ID}',{ASADOSCRIPTS.TIEMPO},"asedio",{ASADOSCRIPTS.ID});	
  <!-- END ASADOSCRIPTS -->
});
</script>
<div id="sectCustom">
	<div class="sectCustomTitle">{TITULOPLACES}</div>
   
    <div class="listingThings">
      <!-- BEGIN ASADO -->
       <div class="asedioBar">
      <div class="asadoImgList"> <img src="images/{ASADO.IMG}" /></div>
       <div class="asadoNameList">{ASADO.NOMBRE} </div>
        <div class="asadoTimerList">{ASADO.TIMER} </div>
      </div>  
	 <!-- END ASADO -->
    </div>
    <div>{NUMERACION}</div>
</div>