<div id="sect_atendedor" align="center">
  <div id="atendedorBox"><div class="legendarios"><strong>Canjear cupones legendarios:</strong></div>
  <a href="index.php?sec=atendedor&sacar=casco">Canjear Casco</a> costo 1<br />
   <a href="index.php?sec=atendedor&sacar=guantes">Canjear Guantes</a> costo 1<br />
   <a href="index.php?sec=atendedor&sacar=botas">Canjear Botas</a> costo 1<br />
   <a href="index.php?sec=atendedor&sacar=escudo">Canjear Escudo</a> costo 1<br />
   <a href="index.php?sec=atendedor&sacar=armadura">Canjear Armadura</a> costo 2<br />
   <a href="index.php?sec=atendedor&sacar=arma">Canjear Arma</a> costo 3<br />
  <div class="epicos"><strong>Canjear cupones epicos:</strong></div>
   <a href="index.php?sec=atendedor&sacar=epic_arma">Canjear por arma</a> costo 1<br />
  </div>
 	
   
</div>