<div id="blackMarket">
	<div class="title_spacer">
    </div>
    <div class="marketPlace">
    <div class="marketBox">
    	<div><img src="images/item/rings/ring.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Anillo">Anillo Astral</a></div>
    	<div class="marketCosto"> Costo: 3 Polvos Astrales</div>
    </div>
     <div class="marketBox">
    	<div><img src="images/item/head/helmet.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Casco">Casco Astral</a></div>
    	<div class="marketCosto"> Costo: 3 Polvos Astrales</div>
    </div>
     <div class="marketBox">
    	<div><img src="images/item/necklace/necklace.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Collar">Collar Astral</a></div>
    	<div class="marketCosto"> Costo: 3 Polvos Astrales</div>
    </div>
    <br>
     <div class="marketBox">
    	<div><img src="images/item/dagger/SwordBreaker.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Arma">Arma Astral</a></div>
    	<div class="marketCosto"> Costo: 5 Polvos Astrales</div>
    </div>
     <div class="marketBox">
    	<div><img src="images/item/heavy/ChainMailShirt.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Armadura">Armadura Astral</a></div>
    	<div class="marketCosto"> Costo: 5 Polvos Astrales</div>
    </div>
     <div class="marketBox">
    	<div><img src="images/item/shield/shield.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Escudo">Escudo Astral</a></div>
    	<div class="marketCosto"> Costo: 3 Polvos Astrales</div>
    </div>
    <br>
    <div class="marketSpace">
    <div class="marketBox">
    	<div><img src="images/item/gloves/gloves.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Guantes">Guantes Astral</a></div>
    	<div class="marketCosto"> Costo: 3 Polvos Astrales</div>
    </div>
     <div class="marketBox">
    	<div><img src="images/item/foots/boots.jpg" /></div>
    	<div> <a href="index.php?sec=blackMarket&cagame=Botas">Botas Astral</a></div>
    	<div class="marketCosto"> Costo: 3 Polvos Astrales</div>
    </div>
    </div>
    </div>
</div>