<div id="sectCustom">
	<div class="sectCustomTitle">Cambiar clave</div>
        <div class="listingThings">
            <div class="errorLoco {SHOWERROR}">{ERR_MSG}</div>
    <div class="doneLoco {SHOWWIN}">Se cambio la clave</div>
        	<form action="" method="post">
            <div class="opcionesMimd">
            <div class="optionCls">
            	Clave actual: <input class="boxInner" name="estaClave" type="password" />
            </div>
             <div class="optionCls">
            	Nueva clave: <input class="boxInner" name="newClave" type="password" />
            </div>
             <div class="optionCls">
            	Nueva clave de nuevo: <input class="boxInner" name="reNewClave" type="password" />
            </div>
            <input class="boxInner" name="enviar" value="Guardar" type="submit" />
             </div>
           </form>
           </div>
 	   </div>
