<script>
var itemsCatch = new Array();
var pagina = 0;
var cantidadItems=0;
var filtroTxt="todo";
var retotier=parseInt("{RETOTIER}");
</script>
<script src="js/catas.js?{RAND}" type="text/javascript"></script>

    <div id="sectCustom">
        <div id="cataBox">
            <div id="runa_1">
               
            </div>
            <div id="runa_2">
                  
                </div>
            <div id="runa_3">
                  
                </div>  
            <div id="runa_4">
                    
                </div>    
            <div id="runa_5">
                    
                </div>           
            

        </div>
        <div id="inventario_bot">
            <div id="item_list"> </div>
            <div id="item_paginacion"></div>
        </div>
    </div>
    <div id="retoButton"><div class="menuItem3" onclick="goReto();">Comenzar</div></div>
    <div id="retoTitle">{ITEMREQ}</div>
</div>