<div id="sectCustom">
	<div class="sectCustomTitle">Lista de Clanes</div>
    <div class="listingThings">
    	<div align="center">{DMINLINK}</div>
      <!-- BEGIN CLAN -->
       <div class="questBar">
       		<div class="puestotop">{CLAN.NRO}</div>
           
             <div class="clantopname"><a href="?sec=clan&id={CLAN.ID}">{CLAN.NOMBRE}</a></div>
             <div class="clantoplvl">Puntos: {CLAN.PUNTOS}</div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
	 <!-- END CLAN -->
     <div align="center">{NUMERACION}</div>
    </div>
</div>