<div id="sectClan">
	<div class="sectCustomTitle">Clan {NOMBRECLAN} Manage</div>
    <div class="clanManageLinks" align="center">
    	{CLAN_ADMIN}
   </div>
   <div class="clanSectionTitle" align="center">Clan {NOMBRECLAN}</div>
   <div class="listingThings">
   <div class="clanOptions">
   		<div>Puntos: {PUNTOS} </div>
        <div>Miembros: {CANTIDAD} / {LIMITE} </div>
   		<div><a href="index.php?sec=clanmanage&ver=salir">Salir del Clan</a></div>
       <div class="listingThings">
      <!-- BEGIN M -->
       <div >
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/clases/{M.IMG}" width="50" height="50" /></div>
              <div class="listingName">&nbsp;<a href="index.php?sec=ver&pj={M.NOMBRE}">{M.NOMBRE}</a></div>
              <div class="listingSubtitl">&nbsp;Clase: {M.CLASE}</div><div class="listingLvl"> Nivel: {M.LVL}</div>
              </div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
   <!-- END M -->
   </div>
   </div>
   </div>
</div>