<div id="sectCustom">
	<div class="sectCustomTitle">Clan {NOMBRECLAN} Manage</div>
   <div class="clanManageLinks" align="center">
    	{CLAN_ADMIN}
   </div>
   <div class="invittations">
   <div class="clanSectionTitle" align="center">Miembros del Clan</div>
    <div class="clanSectionTitle" align="center">Hay {CANTIDAD} miembros</div>
    <div class="listingThings">
    	<div align="center">{DMINLINK}</div>
      <!-- BEGIN M -->
       <div >
       		<div>{M.NOMBRE} - {M.CLASE} - {M.LVL} {M.OP}</div>
       </div>  
	 <!-- END M -->
     <div align="center">{NUMERACION}</div>
     </div>
    </div>
</div>