<div id="sectCustom">
	<div class="sectCustomTitle">Clan {NOMBRECLAN}</div>
     <div class="invittations">
    <div id="clandetail">
    <div>Lider: {LIDER}</div>
    <div>Puntos: {PUNTOS}</div>
    <div>Miembros: {MIEMBROS}</div>
    </div>
   </div>
    <div class="listingThings">
      <!-- BEGIN M -->
       <div >
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/clases/{M.IMG}" width="50" height="50" /></div>
              <div class="listingName">&nbsp;<a href="index.php?sec=ver&pj={M.NOMBRE}">{M.NOMBRE}</a></div>
              <div class="listingSubtitl">&nbsp;Clase: {M.CLASE}</div><div class="listingLvl"> Nivel: {M.LVL}</div>
              </div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
	 <!-- END M -->
     <div align="center">{CREATECLAN}{NUMERACION}</div>
    </div>
</div>