<div id="sectCustom">
	<div class="sectCustomTitle">Recompensa Semanal para Clanes</div>
     
     <div align="center">
      <div class="customBoxFFS">
        <div class="dungTitle" align="center">Cada lunes se entregara a los 3 clanes con mas puntos<br> una recomenza de {RECOMEPENZA} Polvos Astrales<br>a cada miembro de cada clan.</div>
    </div>
    </div>
  <div class="sectCustomTitle">Primeros 3 clanes actuales</div>
    <div class="listingThings">
      <!-- BEGIN CLAN -->
       <div class="questBar">
          <div class="puestotop">{CLAN.NRO}</div>
           
             <div class="clantopname"><a href="?sec=clan&id={CLAN.ID}">{CLAN.NOMBRE}</a></div>
             <div class="clantoplvl">Puntos: {CLAN.PUNTOS}</div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
   <!-- END CLAN -->
    </div>
    <div align="center">
      <div class="customBoxFFS">
        <div class="dungTitle" align="center">Esta lista va cambiando apenas alguien supera su puntaje</div>
    </div>
    </div>
</div>