<div id="sectCustom">
	<div class="sectCustomTitle">Crear Clan</div>
   <div class="listingThings" align="center">
    <form action="" method="post">
   	<div class="customBoxFFS">
    	<div align="center">El costo para crear el clan es 1000 de Oro</div>
 		<div align="center">Nombre:<br /> <input class="boxInner" size="15" name="clan" type="text" /></div>
        <div align="center"><input value="Create Clan" type="submit" /></div>
    </div>
    </form>    
    <br /><br />
     <div class="customBoxFFS" align="left">
    	<div align="center">Que puedo hacer con un clan?</div>
 		<div>- Puedes asediar castillos y tomarlos</div>
        <div>- Puedes conseguir auras especiales de clan</div>
    </div>
    </div>
</div>