<div id="sectCustom" align="center">
	<form action="" method="post"><div class="sectCustomTitle">Administrar Torneo</div>
    <div  class="monstFill customBoxFFS">
      <div>Opciones: </div>
    
      Cantidad Jugadores <br /> <select name="cantidad"><option value="4">4 Jugadores</option><option value="8">8 Jugadores</option><option selected="selected" value="16">16 Jugadores</option></select>
       <br /> <br />
      Nombre <br /><input name="nombre"  size="20" type="text" />
       <br /> <br />
       1r premio <br /><input name="oro1"  size="10" type="text" />
        <br /> <br />
       2do premio <br /><input name="oro2"  size="10" type="text" />
       <br /> <br />
       URL <br /><input name="url"  size="20" type="text" />
       <br /> <br />
       <input name="crear" value="Crear" type="submit" />
     </div></form>
  
  </div>