<div id="sectCustom">
	<div class="sectCustomTitle">Drop de Bichos</div>
    <div class="monstFill">
     <div><img src="images/mobs/{MONSIMG}" /></div>
      <div>{MONSTNAME}</div>
     </div>
    <div align="center"><a href="index.php?sec=drops&page={PAGE}">Volver a Drops</a></div>
    <div class="listingThings">
      <!-- BEGIN DROP -->
       <div class="questBar">
       <div class="monstListImg">
       <img src="images/item/{DROP.IMG}" width="30" height="30" />
       </div>
       <div class="monstListName">
      {DROP.NOMBRE}<br />
      
       </div>
         <div >Chance : {DROP.CHANCE}%<br />Cantidad: 1/{DROP.CANT}</div>
       </div>  
	 <!-- END DROP -->
    </div>
    <div align="center">{NUMERACION}</div>
</div>