<div id="sectCustom">
	<div class="sectCustomTitle">Drop de Bichos</div>
    <div class="listingThings">
      <!-- BEGIN MONS -->
       <div class="questBar">
       <div class="monstListImg">
       <img src="images/mobs/{MONS.IMG}" width="30" height="30" />
       </div>
       <div class="monstListName">
       <a href="index.php?sec=drops&ver={MONS.ID}&page={MONS.PAGE}">{MONS.NOMBRE}</a>
       </div>
         <div class="monstListDesc">
       Nivel: {MONS.LVL} -  Vida: {MONS.HP}<br />
       Exp: {MONS.EXP} -  Oro: {MONS.GOLD}<br />
       </div>
       </div>  
	 <!-- END MONS -->
    </div>
    <div align="center">{NUMERACION}</div>
</div>