<div id="sectCustom">
	<div class="sectCustomTitle">Top Dungeon: {DUNG}</div>
    <div align="center">
       <div class="dungeonRanked">
              <!-- BEGIN INF -->
               <div class="topBoxo" >
                      <div >&nbsp;&nbsp;<strong>{INF.NUM}</strong>&nbsp;<img src="images/clases/{INF.IMG}" width="15" height="15" /> &nbsp;<a href="index.php?sec=ver&pj={INF.NOMBRE}">{INF.NOMBRE}</a> &nbsp;Tardo: {INF.TIME}</div>
               </div>  
             <!-- END INF -->
        </div>
       
    </div>
</div>