<div id="sectCustom">
	<div class="sectCustomTitle">Elite Dungeon</div>
   <form action="" method="post"> <div class="listingThings">
       <div class="dungeonBox">
       <div class="dungTitle">Elite Dungeon:</div>
      <div > 
      <select class="boxInner" name="nivel">
           <!-- BEGIN D -->
           <option value="{D.LVL}">Nivel: {D.LVL} - Ganas: {D.REC} items Astrales</option>
              <!-- END D -->
      </select></div>

    </div>
     <div class="dungeonBox">
       <div class="dungTitle">Información:</div>
         <div >-Minimo de nivel: 80</div>
          <div >-Consume {DUNGEONCOST} Polvo Astral</div>
        <div >-Partes: 3</div>
        <div >-Remueve todos los buffs al comenzar</div>
    </div>
     <div class="dungeonBox">
     <input type="hidden" name="grado" value="1">
       <div align="center" ><input value="Entrar al dungeon" type="submit" /></div>
       </div>
    
</div></form></div>