<div id="sectCustom" align="center">
	<div class="sectCustomTitle">Leyenda</div>
  <div>Al iniciar tu party se va transportar a otra dimensión donde tendrán que ir pasando cada mundo.</div>
 
    <div class="eventBox"> 
    	<div class="eventTitle muyFacil">Infierno 1</div>
        <div align="left">Experiencia x1<br />
Oro x1<br />
ítem legendarios 1 <br />
ítem epicos 0 <br />
<a href="index.php?sec=evento&go=1">Jugar con party</a> - <a href="index.php?sec=evento&go=1&ranked=1">Ranked Solo</a>
</div>
     </div>
     <br />
     <div class="eventBox"> 
    	<div class="eventTitle Facil">Infierno 2</div>
        <div align="left">Experiencia x2<br />
Oro x2<br />
ítem legendarios 1-2 <br />
ítem epicos 0 <br />
<a href="index.php?sec=evento&go=2">Jugar con party</a> - <a href="index.php?sec=evento&go=2&ranked=1">Ranked Solo</a>
</div>
     </div>
<br />
     <div class="eventBox"> 
    	<div class="eventTitle Moderado">Infierno 3</div>
        <div align="left">Experiencia x3<br />
Oro x3<br />
ítem legendarios 2-3 <br />
ítem epicos 0-1 <br />
<a href="index.php?sec=evento&go=3">Jugar con party</a> - <a href="index.php?sec=evento&go=3&ranked=1">Ranked Solo</a>
</div>
     </div>
 <br />
 <div><a href="index.php?sec=evento&soygroso=si">mostrar mas dificultad</a></div> 
</div>