<div id="sectCustom" align="center">
	<div class="sectCustomTitle">Leyenda</div>
  <div>Al iniciar tu party se va transportar a otra dimensión donde tendrán que ir pasando cada mundo.</div>
 
    <div class="eventBox"> 
    	<div class="eventTitle dificil">Infierno 4</div>
        <div align="left">Experiencia x8<br />
Oro x4<br />
ítem legendarios 3-4 <br />
ítem epicos 0-1 <br />
<a href="index.php?sec=evento&go=4">Jugar con party</a> - <a href="index.php?sec=evento&go=4&ranked=1">Ranked Solo</a>
</div>
     </div>
     <br />
     <div class="eventBox"> 
    	<div class="eventTitle dificil2">Infierno 5</div>
        <div align="left">Experiencia x15<br />
Oro x5<br />
ítem legendarios 5-6 <br />
ítem epicos 1-2 <br />
<a href="index.php?sec=evento&go=5">Jugar con party</a> - <a href="index.php?sec=evento&go=5&ranked=1">Ranked Solo</a>
</div>
     </div>
<br />
     <div class="eventBox"> 
    	<div class="eventTitle muydificil">Infierno 6</div>
        <div align="left">Experiencia x25<br />
Oro x6<br />
ítem legendarios 8-10 <br />
ítem epicos 2-5 <br />
<a href="index.php?sec=evento&go=6">Jugar con party</a> - <a href="index.php?sec=evento&go=6&ranked=1">Ranked Solo</a>
</div>
     </div>
 <br />
 <div><a href="index.php?sec=evento&soypt=si">menos dificultad</a></div> 
</div>