<style type="text/css">
	 #bienv{ text-align: center; }
	 .tutbutt{
	 	font-size: 30px;
	 	background-color: #0D2A26;
	 	border: 1px yellow solid;
	 	
	 }
</style>
<div id="sectCustom">
	<div align="center" >
   	<a class="tutbutt" target="_blank" href="tutorial.php">CLIC AQUI PARA VER TUTORIAL</a> 
   	</div>
   
	<div class="sectCustomTitle">Novadeades</div>
  
<div class="update_content scrollChatter">
 <!-- BEGIN UPDATE -->
   	<div class="updates">
   		<div class="updates_titulo">{UPDATE.TITULO}</div>
   		<div class="updates_fecha">Fecha: {UPDATE.FECHA}</div>
   		<div class="updates_video">
   			<iframe width="470" height="280" src="https://www.youtube.com/embed/{UPDATE.VIDEO}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   		</div>
   	</div>
 <!-- END UPDATE -->
</div>
   </div>

</div>