<div id="sectInfo">
    <div id="infoOpciones"><a href="index.php?sec=info&ver=pvp">Top PvP</a> - <a href="index.php?sec=info&ver=pk">Top Pk</a>  - <a href="index.php?sec=info&ver=ricos">Top Ricos</a>  - <a href="index.php?sec=info&ver=lvl">Top Lvl</a></div>
     <div id="infoGeneral">
     Cuentas creadas: {CUENTAS}<br />
     Personajes creados: {PJS}<br />
     <br />
     Items del juego: {ITEMS}<br />
     Tipos de monstruos: {MONST}<br />
     Habilidades: {SKILLS}<br />
     Clase de personajes: {CLASES}<br />
     </div>
</div>
