<div id="sectCustom" align="center">
	<div class="sectCustomTitle">Opciones de Mascota</div>
    <div  class="monstFill customBoxFFS">
     <div><img src="images/mobs/{MONSIMG}" /></div>
      <div>{MONSTNAME}</div>
      <div><a href="index.php?sec=mascotas&op=usar&id={ID}">Usar Mascota</a></div>
      <div><a href="index.php?sec=mascotas&op=item&id={ID}">Consumir Item</a></div>
      <div><a href="index.php?sec=mascotas&op=tirar&id={ID}">Eliminar Mascota</a></div>



     </div>
     <br>
      <div align="center"><a href="index.php?sec=mascotas&page={PAGE}">Volver a Mascotas</a></div>
</div>