<div id="sectCustom">
	<div class="sectCustomTitle">Mascotas</div>
    <div class="listingThings">
      <!-- BEGIN MASC -->
       <div >
              <div class="listingPjSlotPet" >
              <div class="listingImager"><img src="images/mascotas/{MASC.IMG}" width="50" height="50" /></div>
              <div class="listingNamePet">&nbsp;{MASC.NOMBRE} <br>&nbsp;<a href='index.php?sec=mascotas&llamar={MASC.ID}'>{MASC.CALL}</a></div>
              <div class="listingSubtitlPet">&nbsp;Ataque: {MASC.ATAQUE} {MASC.LVLUP}</div>
              </div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
	 <!-- END MASC -->
     <div align="center">{NUMERACION}</div>
    </div>
</div>