<script>
var itemsCatch = new Array();
var pagina = 0;
var cantidadItems=0;
var filtroTxt="todo";
var questOn=parseInt("{QUESTUP}");
var idPet=parseInt("{IDPET}");
</script>
<script src="js/mascota_items.js?{RAND}" type="text/javascript"></script>

<div id="verItems">
	<div class="title_spacer">
    </div>
     <div  align="center">La mascota solo se va beneficiar de los att extra del item <br>y solo de Ataque, Defensa, Critco y Poder Critico </div>
     <br>
	<div id="inventario_bot">
        <div id="item_list"></div>
        <div id="item_paginacion"></div>
    </div>
</div>