<div id="sectCustom">
	<div class="sectCustomTitle">Mis Mascotas</div>
    <div align="">
      <div class="listingThings">
      <!-- BEGIN M -->
       <div >
              <div class="listingPetsSlot" >
              <div class="listingImager"><img src="images/mobs/{M.IMG}" width="50" height="50" /></div>
                  <div class="petThings">
                 <div class="listPetName">{M.NOMBRE} - {M.OP}</div>
                  <div class="listPetCosas">Edad: {M.EDAD} Años Nivel: {M.LVL} Estado: {M.MUERTO}</div>
                   <div class="listPetCosasLow {M.COSAS}">Vida: {M.V} Ataque: {M.A} Defensa: {M.D} Critico: {M.C}% PC: {M.P}%</div>
                  </div>
              </div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
	 <!-- END M -->
     <div align="center">{NUMERACION}</div>
    </div>
    </div>
</div>