<script>
const XPosInicial = {PJ_XLOC};
const YPosInicial = {PJ_YLOC};

GoToMap=(id)=>{
	location.href="index.php?sec=mundo&mundo="+id;
}

$( document ).ready(function() {
    $("#mapRealmMobile").scrollTop( YPosInicial-200 );
	$("#mapRealmMobile").scrollLeft( XPosInicial-200 );
});
</script>
<style type="text/css">
#mapRealmMobile{
	width: 480px;
	height: 620px;
	overflow: scroll;	
	position: absolute;
}	
	
.ElMapMobil{
	width: 2500px;
	height: 1800px;
	background-image: url("images/newmap3.jpg");
}
.markerMobil{
	
}
</style>

<div id="content" align="center">	
		<div id="mapRealmMobile" class="scrollChatter"   >
			<div class="ElMapMobil"  >
					<!-- BEGIN LOC -->
					<div onclick="GoToMap({LOC.ID})" style="position:absolute; top:{LOC.YT}px; left: {LOC.XT}px;">
	 				<div class="marker {LOC.TIPO}" style="{LOC.INJERTO}"  id="{LOC.ID}">
						
					</div>
	                <div class="place">
						<h3>{LOC.NAMEBLOW}</h3>
					</div>	
				</div>
	               <!-- END LOC -->
				</div>
		</div>
	
		<div class="scrollChatter" id="basicMapSHow"> 
		</div>

</div>


<script type="text/javascript">
	var mapPlace=[];
	var mapCategory=[];
	CategoryTranslate = (cat)=>{
		switch(cat)
		{
			case "train":
				return "Entrenamientos";
			break;
			case "trainparty":
				return "Entrenamiento en Partys";
			break;
			case "castle":
				return "Castillos";
			break;
			case "city":
				return "Ciudades";
			break;
			case "raid":
				return "Raid Bosses";
			break;
			case "epico":
				return "Dungeon Epicos";
			break;
			case "warzone":
				return "Zona de Guerras";
			break;
			case "conquista":
				return "Conquistas";
			break;
			case "banco":
				return "Bancos";
			break;
			case "paragon":
				return "Paragon Rift";
			break;
			case "catacumba":
				return "Catacumbas";
			break;
			case "reto":
				return "Retos";
			break;
		}
	}
	categoryCheck =(tipo)=>{
		for (var i = 0; i < mapCategory.length; i++) {
		    if(mapCategory[i].tipo == tipo)
		    	return true;
		}
		return false;
	}
	mapColector = (id,tipoc,nameblow,basicc)=>{
		mapPlace.push({id: parseInt(id) ,tipo: tipoc,name: nameblow,basic: basicc});
		if(!categoryCheck(tipoc))
		{
			mapCategory.push({tipo: tipoc});
		}
	}

	<!-- BEGIN LOC -->
		mapColector("{LOC.ID}","{LOC.SLtipo}","{LOC.NAMEBLOW}","{LOC.BASIC}");
	<!-- END LOC -->

	makeCategoryShow=()=>{
		$("#basicMapSHow").text("");
		for (var i = 0; i < mapCategory.length; i++) {
			$("#basicMapSHow").append('<div class="menuBasicMapCategory" onclick="showThisCat('+i+')">Ver '+CategoryTranslate(mapCategory[i].tipo)+'</div>');		    	
		}
	}
	showThisCat=(id)=>{
		$("#basicMapSHow").text("");
		$("#basicMapSHow").append('<div class="menuBasicMapCategory" onclick="makeCategoryShow()">Ver '+CategoryTranslate(mapCategory[id].tipo)+'</div>');
		for (var i = 0; i < mapPlace.length; i++) {
			if(mapCategory[id].tipo==mapPlace[i].tipo)
				$("#basicMapSHow").append('<div class="menuBasicMapMundo" onclick="location.href='+"'index.php?sec=mundo&mundo="+mapPlace[i].id+"'"+';"><a href="#">'+mapPlace[i].basic+'</a></div>');		    	
		}
	}

	modoBasicoOn=()=>{
			$("#mapRealm").hide();
			$("#basicMapSHow").show();
			makeCategoryShow();
			$("#basicMOdeMap").text("");
			$("#basicMOdeMap").append('<div class="menuItem" onclick="javascript:modoBasicoOff();">Modo Mapa</div>');
	}
	modoBasicoOff=()=>{
			$("#mapRealm").show();
			$("#basicMapSHow").hide();
			$("#basicMOdeMap").text("");
			$("#basicMOdeMap").append('<div class="menuItem" onclick="javascript:modoBasicoOn();">Modo Basico</div>');
	}
	
</script>