<div class="noticias">
	<div id="contenedorNoticia">
    	<div id="noticias">
           <!-- BEGIN NEWS -->
            <div class="classNoticiaBloke">
               <h1>{NEWS.TITLE}</h1>
                <div class='notaNot'>{NEWS.TEXTO}</div><div align='right'>{NEWS.FECHA}&nbsp;</div>
            </div>
             <!-- END NEWS -->
        </div>
    		<div class="raidReporter">
            <div>Recent Raid Boss defeated:</div>
             <!-- BEGIN RAIDS -->
            <div class="raidReportRow">
                <div class="raidRowImg"><img src="images/raids/{RAIDS.IMG}" width="25" height="25" /></div>
                <div class="raidRowName">{RAIDS.NOMBRE} - {RAIDS.FECHA} <a href="index.php?sec=raidReport&id={RAIDS.ID}">View Full Report</a></div>
            </div>
             <!-- END RAIDS -->
            </div>
    </div>   
</div>
