<style>
.godLevelLvl{
  color: aqua;
}
</style>
<div id="sectCustom">
	<div class="sectCustomTitle">Gente Online</div>
    <div class="listingThings">
      <!-- BEGIN M -->
       <div >
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/clases/{M.IMG}" width="50" height="50" /></div>
              <div class="listingName">&nbsp;<a href="index.php?sec=ver&pj={M.NOMBRE}">{M.NOMBRE}</a></div>
              <div class="listingSubtitl">&nbsp;Clase: {M.CLASE}</div> {M.LVL}
              </div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
	 <!-- END M -->
     <div align="center">{NUMERACION}</div>
    </div>
</div>