<div id="sectCustom">
	<div class="sectCustomTitle">Opciones</div>
        <div class="listingThings">
        	<div class="opcionesMimd">
        		 <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=opciones&redirecPap=sabe">Redirect al matar papa: {MAPMODE}</a>
            </div>
             <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=opciones&op=pociones">Reseter Pociones</a>
            </div>
              <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=opciones&op=pasivos">Mostrar pasivos: {BUFFMODE}</a>
            </div>
            <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=skillconfig">Configurar el orden de habilidades</a>
            </div>
             <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=keyconfig">Configurar teclas</a>
            </div>
            
             <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=ResetSkills">Resetear Habilidades</a>
            </div>
             <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=silence">Sacar Silencio de Chat</a>
            </div>
            <div class="menuOptionOption">
            <img src="images/item_usar.png" width="20" height="20" /> <a href="index.php?sec=opciones&op=borrarPj">Borrar personaje: {NOMBRE_P}</a>
            </div>
            </div>
 	   </div>
       
</div>