<div id="sectCustom">
	<div class="sectCustomTitle">Contribuir con el clan</div>
        <div class="listingThings" ALIGN=CENTER>
        	<form action="" method="post">
            <div class="opcionesMimd">
            <div class="optionCls">
			<br>
            	Oro: <input class="boxInner" name="guita" zise="5" type="text" />
				<br>
            </div>
            <input class="boxInner" name="envio" value="Enviar" type="submit" />
             </div>
           </form>
           </div>
 	   </div>
