<div id="sectCustom">
	<div class="sectCustomTitle">Raid Call</div>
        <div class="listingThings">
        	<div class="opcionesMimd" align="center">
            <div class="optionCls optionRaidCALL"><strong>Se puede bajar de aqui</strong><br />
          <a href="http://www.raidcall.com/" target="_blank">http://www.raidcall.com/</a>
            </div>
              <div class="optionRaidCALL"><strong>RAIDCALL ID: 8449180</strong>
            </div>
            </div>
 	   </div>
       
</div>