<script src="js/boxes.js?{RAND}" type="text/javascript"></script>
<script src="js/recompensas.js?{RAND}" type="text/javascript"></script>

<style type="text/css">
	.comparetitleType{
		background-color:#00664C;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:20px;
}
	.comparetitle{
		background-color:#036;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:20px;
	}
	.ComparationBox{
		position: absolute;
		z-index: 9999;
		width: 560px;
		
	}
	.ComparationItem{
		float: left;
		border: 2px black solid;

	}
	#comparation0{
		top: 100px;
		left: 40px;
	}
	#comparation1{
		top: 100px;
		left: 150px;
	}
	#comparation2{
		top: 100px;
		left: 260px;
	}
	#comparation3{
		top: 100px;
		left: -240px;
	}
	#comparation4{
		top: 100px;
		left: -130px;
	}

</style>

<div id="sectCustom">
	<div class="sectCustomTitle">Recompensas <a href="javascript:boxDestroyingAll();">Eliminar Todas</a></div>
      
  
  <div class="scrollChatter" id="Recompensas_list">
  </div>

</div>

<div class="ComparationBox GTFO" id="comparation0">
	
</div>
<div class="ComparationBox GTFO" id="comparation1">
	
</div>
<div class="ComparationBox GTFO" id="comparation2">
	
</div>
<div class="ComparationBox GTFO" id="comparation3">
	
</div>
<div class="ComparationBox GTFO" id="comparation4" >
	
</div>