<div id="sectCustom">
	<div class="sectCustomTitle">Usar puntos de recomendacion ({P_RUPIAS})</div>
    <div class="optionCls optionRaidCALL" align="center"><strong>Invita tus amigos a jugar, usando este enlace:</strong><br />
          			www.swordon.com/r.php?p={NOMBRE_P}
            </div>
    <div class="listingThings">
      <!-- BEGIN BUFF -->
        <div >
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/{BUFF.IMG}" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="index.php?sec=recommendation&ver={BUFF.ID}">{BUFF.NOMBRE}</a></div>
              <div class="listingBuff">&nbsp;{BUFF.DESC} <strong>Costo: {BUFF.COST} recomendaciones</strong></div>
              </div>
       </div>  
       <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
	 <!-- END BUFF -->
     <div align="center">{NUMERACION}</div>
    </div>
</div>