<div id="sectReroll">
    <div align="center" >
    <br /> <br />
     <div  >
            <div id="RR_info" align="center">Buen día joven, algun items no es lo que esperabas?<br>yo te puedo ayudar, elije el item que no te gusta, tienes que tener el item equipado.</div>
        </div>
         <br />
        <form action="" method="get">
        <input type="hidden" name="sec" value="ReRoll" />
        <div  id="RR_select">
            <div align="center">
  <select  class="boxInner"  name="que"> 
     {ARMAS}
      <option value="shield">Escudo</option>
    <option value="armor">Armadura</option>
    <option value="head">Casco</option>
    <option value="foots">Botas</option>
    <option value="gloves">Guantes</option>
    <option value="rings">Anillo</option>
    <option value="necklace">Collar</option>
</select>
<select name="tipo" class="boxInner">
 <option value="0">Todo</option>
  <option value="1">Guerrero</option>
  <option value="2">Mago</option>
</select>
</div>
            <div align="center"><input value="Revisar" type="submit" /></div>
            <br />
        </div>
        </form>    
        </div>
   <br />

    
</div>