<div  class="subClassThings" id="sectCustom">
	<div class="sectCustomTitle">SubClase Back</div>
 <div class="listingThings" align="center">
	<div class="customBoxFFS">
            <div>Volver a tu clase Base?</div>
            <br>
    	   <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=back';">Clase Base</div>
    </div>
    <br>
     <div class="customBoxFFS">
            <div>Puedes aprender habilidades en Nivel 60,80,100</div>
            <br>
          <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=skills';">Habilidades</div>
    </div>
    <br>
    <div class="customBoxFFS">
            <div>Cancelar Subclase?</div>
            <br>
    	   <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=cancel';">Cancelar SubClase</div>
    </div>

<br>
</div>
</div>