<div class="subClassThings" id="sectCustom">
	<div class="sectCustomTitle">SubClase Aprender Habilidades</div>
 <div class="listingThings" align="center">
	<div class="customBoxFFS">
         <div>Aprender Habilidades</div>
    <div class="subClassSkillBlock {DISPLAYSKILL1}">
            <div ><img src="images/skill/subclass/boostHp.jpg" ></div>
            <div >HP Boost: Aumenta 20% de vida de tu clase base.</div>
    	   <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=skillLearn&id=1';">Activar (Lvl: 40)</div>
    </div>
       <br>
       <div class="subClassSkillBlock {DISPLAYSKILL2}">
        <div ><img src="images/skill/subclass/boostDef.jpg" ></div>
        <div>Def Boost: Aumenta 20% defensa y defensa magica.</div>
        <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=skillLearn&id=2';">Activar (Lvl: 60)</div>
     </div>  

        <br>
         <div class="subClassSkillBlock {DISPLAYSKILL3}">
              <div ><img src="images/skill/subclass/boostDps.jpg" ></div>
       <div>Dps Boost: Aumenta 5% ataque y ataque magico.</div>
        <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=skillLearn&id=3';">Activar (Lvl: 80)</div>
       </div>  
        <br>
         <div class="subClassSkillBlock {DISPLAYSKILL4}">
         <div ><img src="images/skill/{SPECIAL_IMG}" ></div>
         <div>{SPECIAL_SKILL}: {SPECIAL_DESC}</div>
        <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=skillLearn&id=4';">Activar (Lvl: 100)</div>
     </div> 
    </div>

<br>
</div>
</div>