<script>
$(document).ready(function(){
{SUBSCRIPT}
});
</script>
<div id="sectCustom">
	<div class="sectCustomTitle">Administrador de SubClases</div>
   <div class="listingThings" align="center">
    <div class="customBoxFFS" align="left">
    	<div align="center">Requiere ser nivel 80, al crear nueva subclase va volver a nivel 1, y va perder 8 puntos paragon<br />Tienes que sacarte todos los items equipados</div>
    </div>
    <br />
    <div id="subclase1" class="GTFO">
    	<div id="alreadySub1" class="customBoxFFS GTFO">
            <div class="sectCustomTitle" align="center">SubClase 1: <a href="index.php?sec=aprenderSub&id={SUBID1}">{SUBCLASE1}</a></div>
        </div>
        <form action="" method="post">
        <div  id="noSub1" class="customBoxFFS GTFO">
            <div class="sectCustomTitle" align="center">SubClase 1:</div>
            <div align="center">Clases Disponibles:</div>
            <div align="center"><select name="clase">
            <!-- BEGIN CLASES -->
            <option value="{CLASES.ID}">{CLASES.NOMBRE}</option>
             <!-- END CLASES -->
            </select></div>
            <div align="center"><input value="Crear Subclase" type="submit" /></div>
            <br />
        </div>
        </form>    
        </div>
   <br />
    <div id="subclase2" class="GTFO">
    	<div id="alreadySub2" class="customBoxFFS GTFO">
            <div class="sectCustomTitle" align="center">SubClase 2: <a href="index.php?sec=aprenderSub&id={SUBID2}">{SUBCLASE2}</a></div>
        </div>
        <form action="" method="post">
        <div  id="noSub2" class="customBoxFFS GTFO">
            <div class="sectCustomTitle" align="center">SubClase 2:</div>
            <div align="center">Clases Disponibles:</div>
            <div align="center"><select name="clase">
            <!-- BEGIN CLASES -->
            <option value="{CLASES.ID}">{CLASES.NOMBRE}</option>
             <!-- END CLASES -->
            </select></div>
            <div align="center"><input value="Crear Subclase" type="submit" /></div>
            <br />
        </div>
        </form>    
        </div>

     <br />
    <div id="subclase3" class="GTFO">
    	<div id="alreadySub3" class="customBoxFFS GTFO">
            <div class="sectCustomTitle" align="center">SubClase 3: <a href="index.php?sec=aprenderSub&id={SUBID3}">{SUBCLASE3}</a></div>
        </div>
        <form action="" method="post">
        <div  id="noSub3" class="customBoxFFS GTFO">
            <div class="sectCustomTitle" align="center">SubClase 3:</div>
            <div align="center">Clases Disponibles:</div>
            <div align="center"><select name="clase">
            <!-- BEGIN CLASES -->
            <option value="{CLASES.ID}">{CLASES.NOMBRE}</option>
             <!-- END CLASES -->
            </select></div>
            <div align="center"><input value="Crear Subclase" type="submit" /></div>
            <br />
        </div>
        </form>    
        </div>
    </div>
    
</div>