<div class="subClassThings" id="sectCustom">
	<div class="sectCustomTitle">SubClase</div>
 <div class="listingThings" align="center">
		<div class="customBoxFFS">
    	<div align="center">Cuando seas nivel 100 podes agregar una subclse</div>
 		<div align="center">Cada subclase te va dar un skill que podes ver aqui <a href="index.php?sec=subclassSkills">SubClass Skills</a></div>
    </div>

<br>
		<div class="customBoxFFS">
    	<div align="center">Tu subclase va comenzar de nivel 0.</div>
    </div>
    <br>
      <div align="center">
    <!-- BEGIN SUB -->
    <div class="menuItem2" onclick="location.href='index.php?sec=subclass&op=switch&id={SUB.ID}';">{SUB.NAME} [{SUB.LVL}]</div>
     <!-- END SUB -->
    </div>
    <br>
    <div class="{ADD_SUBCLASS}" align="center">
          <div class="menuItem" onclick="location.href='index.php?sec=subclass&op=add';">Agregar Subclase</div>
       </div>

</div>
</div>