<div  class="subClassThings" id="sectCustom">
	<div class="sectCustomTitle">Habilideds de <a href="index.php?sec=subclass">SubClase</a></div>
  <div class="scrollChatter" id="subclassSkillScreen">
            <div class="ClassSHow"><strong>Zombie Tank </strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/Fotresst.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: Perseveroide</a></div>
              <div class="listingBuff">&nbsp;Cada ataque basico aumenta tu daño en basicos 5% hasta 10 veces.</div>
              </div>

           <div class="ClassSHow"><strong>Dark Mage</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/DarkProtection.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: DarkProtection</a></div>
              <div class="listingBuff">&nbsp;Reduce el daño de Raid Boss un 50%.</div>
              </div>    

               <div class="ClassSHow"><strong>Vampire</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/LifeGet.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: LifeGet</a></div>
              <div class="listingBuff">&nbsp;Te curas 5% de tu vida total en cada golpe basico.</div>
              </div>   

               <div class="ClassSHow"><strong>Ninja</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/Assassination.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: Combo </a></div>
              <div class="listingBuff">&nbsp;Tus habilidades hacen combo aumenta 10% el ataque hasta 5 goles.</div>
              </div>      

               <div class="ClassSHow"><strong>Marksman</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/Exquisite.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: Exquisite </a></div>
              <div class="listingBuff">&nbsp;Aumenta el Ataque y Ataque Magico un 5% por cada item Legendario que uses.</div>
              </div>     

               <div class="ClassSHow"><strong>Cleric</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/HolyProtection.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: HolyCast </a></div>
              <div class="listingBuff">&nbsp;Tu velocidad de casteo siempre va ser 3.</div>
              </div>   

              <div class="ClassSHow"><strong>Garca</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/BloodyKiller.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: BloodyKiller</a></div>
              <div class="listingBuff">&nbsp;Aumenta el Poder Critico/Critico Magico 15% del total.</div>
              </div>        

               <div class="ClassSHow"><strong>Destroyer</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/HardSkin.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: Brutality</a></div>
              <div class="listingBuff">&nbsp;Aumenta el daño de golpes basicos 50%.</div>
              </div>    

               <div class="ClassSHow"><strong>Shaman</strong></div>
              <div class="listingPjSlot" >
              <div class="listingImager"><img src="images/skill/subclass/BuffPack.jpg" width="50" height="50" /></div>
              <div class="listingNameBuff">&nbsp;<a href="#">Pasivo: Element Focus</a></div>
              <div class="listingBuff">&nbsp;Aumenta el elemento total en 25%.</div>
              </div>   
              </div>        
</div>