<div id="sectCustom">
	<div class="sectCustomTitle">SubClase Add</div>
 <div class="listingThings" align="center">
	<div class="customBoxFFS">
            <div>Elije la nueva subclase</div>
            <br>
    	   <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=1';">Zombie Tank</div>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=2';">Dark Mage</div>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=6';">Vampire</div>
           <br>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=3';">Ninja</div>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=4';">Marksman</div>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=8';">Cleric</div>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=10';">Garca</div>
           <br>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=7';">Destroyer</div>
           <div class="menuItem3" onclick="location.href='index.php?sec=subclass&op=add&yep=5';">Shaman</div>
    </div>

<br>
</div>
</div>