<div id="sectVerInfo">
  <div id="infoOpciones"><a href="index.php?sec=info">Info Gral</a> -
  <a href="index.php?sec=info&ver=pvp">Top PvP</a> - <a href="index.php?sec=info&ver=pk">Top Pk</a>  - <a href="index.php?sec=info&ver=ricos">Top Ricos</a>  - <a href="index.php?sec=info&ver=lvl">Top Lvl</a> </div>
    <div class="infoTitulo">{TITULO}</div>
     <div id="infoList">
     <!-- BEGIN T -->
     <div class="pjtop">
         <div class="puestotop">{T.N}</div>
          <div class="clasetop"><img src="images/clases/{T.IMG}" width="30" height="30" /></div>
           <div class="nombretop">{T.NOMBRE}</div>
       <div class="lvltop">{T.DATO}</div>
     </div>
     <div class="fixertop"><img src="images/blank.gif" width="1" height="1" /></div>
       <!-- END T -->
  </div>
</div>