<div id="sectCustom">
	<div class="sectCustomTitle">Torneos</div>
    <div align="center">
    	<div >
            <div class="Facil"><strong>Torneos Disponibles</strong></div>
              <!-- BEGIN TOR -->
               <div class="torneoBoxo" >
                      <div >&nbsp;&nbsp;<strong>{TOR.NOMBRE}</strong>&nbsp;<a href="index.php?sec=torneo&quiero={TOR.ID}">Participar</a></div>
                    <div align="center"> Lugares: {TOR.JUG} LvlMin: {TOR.NIV1} LvlMax: {TOR.NIV2} Subc: {TOR.SUB}</div>
                     <div class="premios">Primer Lugar:  {TOR.PREM1}k Segundo Lugar:  {TOR.PREM2}k </div>
               </div>  
             <!-- END TOR -->
        </div>
    </div>
</div>