<div id="mispjs">
		  <div ID="slotList">
          <!-- BEGIN P -->
		     	<div class="slot">
                	<div class="slotImg"><img src="images/clases/{P.IMG}" alt="" width="100" height="130" /></div>
                    <div class="slotName injertoFix1">Nombre: {P.NOMBRE}</div>
                    <div class="slotLvl injertoFix1">Nivel: {P.LVL}</div>
                    <div class="slotOpt injertoFix1" align="center"><a href="index.php?sec=jugar&id={P.ID}">Jugar</a></div>
                </div>
         <!-- END P -->
           <!-- BEGIN F -->
		     	<div class="slotLibre">
                	<div class="slotImg"><img src="images/clases/blank.gif" alt="" width="100" height="130" /></div>
                    <div class="slotCrear" align="center"><a href="index.php?sec=crearPj">Crear</a></div>
                </div>
         <!-- END F -->
    </div>
<div align="center"><a href="index.php?sec=deslog">Salir del juego</a></div>
</div>