<div id="newPjs">
	
		      <div ID="boxError">
		     	<form action="" method="post">
                <div id="selectChar"><img src="images/clases/{IMGCLASE}" /><img src="images/clases/{IMGCLASE2}" /></div>
                El nombre del personaje:<br />
				<input name="nombre" type="text" value="{NOMBRE}" class="boxInner" size="15" maxlength="15" /><br />
            Sexo de tu personaje:<br />
               <select name="sexo">
               <option {SEXO2}  value="0">Femenino</option>
                 <option {SEXO1} value="1">Masculino</option>
               </select>
               <br />
                <input name="enviar"   width="50" value="Crear" type="submit" />
               
                </form>
              </div>
               <br />
                <br />
                 <br />
                  <br />
              <div id="boxbackbeen" align="center"> <a href="index.php?sec=crearPj">Volver a elegir clase</a></div>
   

</div>