<div id="registro">
<script>
function elpelucasabe(data)
{
	switch(data['resp'])
	{
		case 1:
			$("#closeRegister").hide();
			$("#openRegister").show(2000);
		break;
	}
}
function show_button()
{
	if($("#termsCheck").val()==1)
	{
		$("#sendButton").show(1000);
		$("#termsCheck").val(0);
	}
	else
	{
		$("#sendButton").hide(1000);
		$("#termsCheck").val(1);
	}
}
function enviar()
{
	 $("#forma").submit();
}
</script>
 <div ID="boxRegistro">
		     	<form action="" id="forma" name="forma"  method="post">
                  <div id="openRegister">
                 <div class="left"><div class="reg_campo">Usuario:</div><div  class="reg_form"> <input name="nombre" type="text" value="{NOMBRE}" class="boxInner" size="15" maxlength="15" /></div></div>
                 <div class="right"> <div class="reg_campo ">Mail:</div><div class="reg_form"> <input name="mail" type="text" value="{MAIL}" class="boxInner" size="15" maxlength="50" /></div></div>
				<div class="left"> <div class="reg_campo " >Clave:</div><div class="reg_form"> <input  name="clave" type="password" value="" class="boxInner" size="15" maxlength="15" /></div></div>
                <div  class="right"><div class="reg_campo">Clave de nuevo:</div><div class="reg_form"> <input name="clave2" type="password" value="" class="boxInner" size="15" maxlength="15" /></div></div>
                     <div align="center"><img class="regcapcha" src="captcha.php?{RANDTR}" /></div>
                     <div align="center"> <div class="reg_campo">Codigo:</div><div class="reg_form"> <input name="palabra" value="" class="boxInner" size="15" maxlength="15" /></div>
                    <div class="reg_campo"><a href="index.php?sec=terms" target="_blank">Leer aviso legal</a></div><div class="reg_form">
                   <div>He leido el aviso legal <input onclick="show_button()" id="termsCheck" name="terms" type="checkbox" value="1" /></div></div>
               <div id="sendButton" style="display:none">
               	 <a href="javascript:enviar();">Crear Cuenta</a>
               </div>
                </div></div>
                </form>
              </div>   

</div>