	<script language="Javascript" type="text/javascript" src="lwtCountdown-html/js/jquery.lwtCountdown-1.0.js"></script>
	<script language="Javascript" type="text/javascript" src="lwtCountdown-html/js/misc.js"></script>
	<link rel="Stylesheet" type="text/css" href="lwtCountdown-html/style/main.css"></link>
    
<div >
	<div id="container" style="margin-right:200px;">
    	<h1>Under Construction</h1>
		<h2 class="subtitle">Check our facebook: <a href="https://www.facebook.com/swordonOnline" target="_blank">swordonOnline</a>
        <br />RaidCall: 8449180</h2>
           <h2 class="subtitle"><a href="index.php?test" target="_blank">TEST THE GAME</a></h2>
           	<h1>GRAND OPENING</h1>
		<!-- Countdown dashboard start -->
		<div id="countdown_dashboard">
			<div class="dash weeks_dash">
				<span class="dash_title">weeks</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash days_dash">
				<span class="dash_title">days</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash hours_dash">
				<span class="dash_title">hours</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash minutes_dash">
				<span class="dash_title">minutes</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

			<div class="dash seconds_dash">
				<span class="dash_title">seconds</span>
				<div class="digit">0</div>
				<div class="digit">0</div>
			</div>

		</div>
		<!-- Countdown dashboard end -->

		<script language="javascript" type="text/javascript">
			jQuery(document).ready(function() {
				$('#countdown_dashboard').countDown({
					targetDate: {
						'day': 		17,
						'month': 	4,
						'year': 	2014,
						'hour': 	12,
						'min': 		0,
						'sec': 		0
					}
				});
			});
		</script>
	
	</div>
</div>